<div class="app-container">
  <div class="transferHeader">
    <h5 class="headerColor"><i>Make a Transfer</i></h5>  
  </div>
  <hr/>
  <div class="content">
    <div class="formControl">
      <label><h5>From Account</h5></label>
      <input class="formInput" type="text" placeholder="Enter from account details" />
    </div>
    <div class="formControl">
      <label><h5>To Account</h5></label>
      <input class="formInput" type="text" placeholder="Enter to account details" />
    </div>
    <div class="formControl">
      <label><h5>Account</h5></label>
      <input class="formInput" type="text" placeholder="$0" />
    </div>
    <div class="formControl">
      <input type="button" class="submitBtn" value="SUBMIT" />
    </div>
  </div>
</div>
