<div class="container" style="display: inline-flex;">
  <div class="searchByContainer" style="width: 25%;">
    <input type="text" class="searchByTyping" placeholder="Search By Typing" style="height: 35px;padding-left: 10px;"/>
  </div>
  <div class="sortContainer" style="display: flex;width: 878px;">
    <label><h6 style="margin-top: 10px;">Sort By : </h6></label>
    <input type="button" style="width: 135px; margin-left: 10px;" value="DATE" />
    <input type="button" style="width: 135px; margin-left: 10px;" value="BENEFICIARY" />
    <input type="button" style="width: 135px; margin-left: 10px;" value="AMOUNT" />
  </div>
</div>